@import url('https://fonts.googleapis.com/css2?family=Bradley+Hand&family=Rock+Salt&display=swap');


#background {
    text-align: center;
    height: 725px;
    background-color: #d9c2a3;
}

div {
    max-width: 1600px;
    margin: 0 auto;
}

.logo {
    width: 80px;
}

#hero-msg h1 , #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

nav {
    text-align: center;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

h4 {
    color: black;
}

main section {
    text-align: center;
}

header {
    background-color: rgba(20, 30, 13, .7);

}

#logo_link {
    padding-top: 5px;
}

nav a:hover {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
    background-color: black;
}

.book, .join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    font-family: 'Rock Salt', 'Patrick Hand', sans-serif;
    font-size: 18px;
}

.book:hover , .join:hover {
    background-color: black ;
}

.card-img {
    border: 10px solid #d9c2a3;
}

main section img {
    box-sizing: border-box;
}    

.msg {
    background-color: rgba(20, 30, 13, .7);
    line-height: 1.5em;
    padding: 35px;
}

.msg p {
    background-color: black;
    color: #d9c2a3;
    padding-bottom: 15px;
    font-family: 'Rock Salt', 'Patrick Hand', sans-serif;
    font-size: .8em;
}

.msg h2 {
    background-color: black;
    color: #d9c2a3;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}

footer {
    color: #d9c2a3; 
    background-color: rgba(20, 30, 13, .7);
    padding: 25px 50px;
}

footer a {
    color: #d9c2a3;
}

footer h3 {
    color: #d9c2a3;
}

footer a:hover {
    color: #d9c2a3;
}

footer .social img {
    padding-top: 15px;
}

.mountains {
    display: block;
    margin-right:auto;
}

.home-title {
    color: #d9c2a3;
    font-family: 'Rock Salt', 'Patrick Hand', sans-serif;
    font-size: 2em;
}