body {
    background-color: white;
    font-family: Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #c3a4ae;
    display: grid;
    grid-template-columns: 150px auto;
}

.logo {
    width: 40px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav {
    color: white;
    text-align: center;
    padding: 35px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: flex-end;
    column-gap: 10px;
}

nav a {
    text-align: center;
    display: block;
    padding: 35px;
}

nav a:hover {
    color: wheat;
    text-align: center;
    padding: 35px;
    background-color: grey;
}
