body {
}

header {
    background-color: #c3a4ae;
    display: grid;
    grid-template-columns: 150px auto;
}

.logo {
    width: 120px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav {
    grid-column: 2/2;
    text-decoration-color: azure;
}

footer {
    background-color: #c3a4ae;
    padding: 25px 50px;
    text-decoration: none;
    margin-top: 200px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    column-gap: 80px;
}
