
header {
    background-color: #c3a4ae;
    display: grid;
    grid-template-columns: auto 150px;
}

.logo {
    grid-column: 2/2;
    width: 120px;
    margin-left: 1230px;
    margin-top: 40px;
}

nav {
    grid-column: 1/2;
    text-align: center;
    padding: 35px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: flex-end;
    column-gap: 10px;
}

footer {
    background-color: #c3a4ae;
    padding: 25px 50px;
    text-decoration: none;
    margin-top: 200px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    column-gap: 80px;
}
